.magazine {
    width: 1110px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;


    
    .product {
        width: 1000px;
        height: 150px;
        margin: 0 auto;
        border: 2px solid rgb(93, 93, 243);
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 150px;
            margin-left: 10px;
        }

        .quant{
            display: flex;

            .quantity {
                width: 30px;
                height: 50px;
                text-align: center;
                padding-top: 8px;
            }
            
            button {
                width: 30px;
                height: 30px;
                border: 1px solid black;
                border-radius: 2px;
                background: none;
                cursor: pointer;
            }

            input {
                width: 100px;
                height: 30px;
                margin-left: 50px;
                border: 1px solid black;
            }
        }
    }

    .fullPrice {
        margin-top: 50px;
        width: 300px;
    }

    .alert {
        margin-top: 50px;
    }

}
